# Node dependencies
node_modules/

# Environment variables
.env

# Editors and IDEs
.idea/
.vscode/
*.iml

# Coverage & reports
coverage/
.nyc_output/

# System files
.DS_Store
.eslintcache
.tern-project
